<%- include('header')%>
<!--  -->
<%- include('nav')%>
<form
    action="/add"
    method="post"
    class="mt-5 w-50 container"
    enctype="multipart/form-data"
>
    <h3 style="margin-bottom: 20px; color:  #4231D4;">ADD IMAGE</h3>
    <input
        type="text"
        placeholder="Card Title"
        class="form-control mb-4 p-1 fs-4"
        name="title"
    />
    <input
        type="text"
        placeholder="Author Name"
        class="form-control mb-4 p-1 fs-4"
        name="author"
    />
    <input type="file" class="form-control mb-4 p-1 fs-5" name="gallery" />
    <button>Upload</button style="{
        background-color: #4231D4;
        color: #f3f3f3;
        border: none;
        border-radius: 20px;
        padding: 5px 25px;
    }">
</form>

<!--  -->
<%- include('footer')%>
